p{
    color: rgb(101, 36, 214);
    font-size:10vh ;
    background-color: lawngreen;
    border-color: aqua;
}

#schafe{
  max-width: 50%;
  height: auto;
}

#container{
  display: flex;
  justify-content: center;
}